/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

.recipe-card .description {
    color: #333333;
}

.searchBar {
    padding: 1em 0;
}

.searchBar__filter {
    margin : 0 1em;
    border-radius: 4px;
    background-color: #ffffff;
}

.ingredient-typeahead {
	position: relative;
}

.autocomplete-menu {
	position: absolute;
	background: white;
	border: 1px solid gainsboro;
	width: 100%;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 1px #eee;
    z-index: 1;
}

.ingredient-typeahead .autocomplete-menu .autocomplete-list {
	list-style-type: none;
    margin-left: 0;
}

div.ingredient-typeahead ul.autocomplete-list li.item:before {
	content: none;
}

.key-selected {
}

.ui.form .fields .field.ingredient-view {
    margin-top: auto;
    margin-bottom: auto;
}

.ui.secondary.menu .item.link {
    color: #4183c4;
}

.recipe-editor-group .recipe-editor-group-error,
.recipe-editor-group .recipe-editor-group-error:last-child {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@media screen and (max-width: 360px) { /* Breakpoint for semantic UI*/
    .ui.secondary.menu .item.link {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) { /* Breakpoint for semantic UI*/
    .ui.form .fields .field.fields-recipe-quantity {
        margin-bottom: 3px;
    }

    .recipe-editor-group {
        padding-bottom: 42px; /* Allows swiping in mobile*/
    }

    .recipe-editor-group .recipe-editor-group-error,
    .recipe-editor-group .recipe-editor-group-error:last-child {
        margin-top: 3px;
    }
}

@media screen and (min-width: 768px) { /* Breakpoint for semantic UI*/

    .recipe-editor-group .recipe-editor-group-error,
    .recipe-editor-group .recipe-editor-group-error:last-child {
        margin-bottom: 25px;
    }
}

/*
Default media queries set by semantic ui in site.variables:
@mobileBreakpoint            : 320px;
@tabletBreakpoint            : 768px;
@computerBreakpoint          : 992px;
@largeMonitorBreakpoint      : 1280px;
@widescreenMonitorBreakpoint : 1920px;
*/
