// Default media queries set by semantic ui in site.variables:
// Default media queries set by semantic ui in site.variables:
$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1280px;
$widescreenMonitorBreakpoint : 1920px;

$white: #ffffff;

.recipe-card .description {
    color: #333333;
}

.searchBar {
    padding: 1em 0;
}

.searchBar__filter {
    margin : 0 1em;
    border-radius: 4px;
    background-color: $white;
}

.autocomplete-menu {
	position: absolute;
	background: $white;
	border: 1px solid gainsboro;
	width: 100%;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 1px #eee;
    z-index: 1;
}

.ingredient-typeahead {
	position: relative;

    .autocomplete-menu .autocomplete-list {
        list-style-type: none;
        margin-left: 0;
    }
}


div.ingredient-typeahead ul.autocomplete-list li.item:before {
	content: none;
}

.ui.form .fields .field.ingredient-view {
    margin-top: auto;
    margin-bottom: auto;
}

.ui.secondary.menu .item.link {
    color: #4183c4;
}

.recipe-editor-group {
    .recipe-editor-group-error {
        margin-left: 0.5em;
        margin-right: 0.5em;

        &:last-child {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
}

@media screen and (max-width: 360px) { /* Breakpoint for semantic UI*/
    .ui.secondary.menu .item.link {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: $tabletBreakpoint - 1) { /* Breakpoint for semantic UI*/
    .ui.form .fields .field.fields-recipe-quantity {
        margin-bottom: 3px;
    }

    .recipe-editor-group {
        padding-bottom: 42px; /* Allows swiping in mobile*/
    }

    .recipe-editor-group .recipe-editor-group-error,
    .recipe-editor-group .recipe-editor-group-error:last-child {
        margin-top: 3px;
    }
}

@media screen and (min-width: $tabletBreakpoint) { /* Breakpoint for semantic UI*/

    .recipe-editor-group {
        .recipe-editor-group-error {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 25px;
            }
        }
    }
}
